@font-face
{
font-family:DroidSans;
src:url('../font/Droid_Sans/DroidSans.ttf');
}
@font-face
{
font-family:Anton;
src:url('../font/Anton/Anton.ttf');
}
@font-face
{
font-family:Oxygen;
src:url('../font/Oxygen/Oxygen-Bold.ttf');
}
@font-face
{
font-family:'head';
src:url('../font/head.woff') format('woff');
}
@font-face
{
font-family:ShadowsIntoLight;
src:url('../font/Shadows_Into_Light/ShadowsIntoLight.ttf');
}

body
{
background-color:#CFCFCF;
margin:0;

overflow-x:hidden;
}
#navi
{
position:absolute;
width:100%;
height:100px;
z-index:100;
top:-100px;
display:none;
}
#navi_hd
{
width:100%;
height:100px;
}
#navi_bg
{
position:absolute;
width:100%;
height:100px;
top:0;
bottom:0;
left:0;
right:0;
background-color:#222;
opacity:0.1;
}
#navi_logo
{
background-image:url("../image/logo.png");
width:133px;
height:100px;
background-size:133px 100px;
background-repeat:no-repeat;
float:left;
margin-left:20px;
cursor:pointer;
z-index:20;
position:absolute;
}

#navi_buttons
{
width:500px;
height:100px;
margin:auto;
}
.navi_button
{
display:inline-block;
width:80px;
height:80px;
z-index:10;
margin-top:10px;
background-repeat:no-repeat;
background-size:80px 80px;
background-position:50% 50%;

}
.navi_mask
{
width:80px;
height:80px;
position:absolute;

}
.navi_mask:hover
{
opacity:0.8;
background-image:url("../image/mask.png");
}
.navi_mask h1
{
margin:25px auto 0 auto;
font-family:Oxygen;
font-size:1.5em;
display:none;
}
#navi_about
{
background-image:url("../image/icon.png");
cursor:pointer;
}
#navi_work
{
margin-left:120px;
background-image:url("../image/icon2.png");
background-size:80px 80px;
cursor:pointer;
}
#navi_break
{
margin-left:120px;
background-image:url("../image/icon3.png");
background-size:80px 80px;
cursor:pointer;
}
#drop_down_div
{
height:40px;
width:100%;
}
#drop_down
{
height:40px;
width:150px;
margin:auto;
background-image:url("../image/drop_down.png");
background-repeat:no-repeat;
}
#page_sign_div
{
position:absolute;
width:15px;
height:100%;
right:100px;
z-index:10;
}
.page_sign
{
width:15px;
height:15px;
cursor:pointer;
}
#sign_1
{
margin-top:300px;
background-image:none;
}
#sign_1:hover
{
background-image:url("../image/solid.png");
}
#sign_2
{
margin-top:50px;
background-image:none;
}
.content_wrap
{
width:1000px;

height:100%;
margin:auto;
}
#logo_bar
{
height:340;
padding-top:50px;
}
#logo_bar div
{
width:460px;
height:100%;
margin-left:200px;
background-image:url("../image/logo.png");
}

#circle_bar
{
width:100%;
height:190px;
margin-top:20px;

}
.circle
{
width:190px;
height:190px;
background-image:url("../image/circle.png");
display:inline-block;
margin:0 68px;
}
.mask
{
width:190px;
height:190px;
position:absolute;
cursor:pointer;
}
.mask:hover
{
opacity:0.8;
background-color:#CFCFCF;
}
/*
.circle_text
{
position:absolute;
text-align:center;
display:none;
}
.circle_text:hover
{
display:;
}
*/

.mask h1
{
margin:60px auto 0 auto;
font-family:Oxygen;
font-size:3.5em;
display:none;
}
#icon1_div
{
background-image:url("../image/icon.png");
}
#icon2_div
{
background-image:url("../image/icon2.png");
}
#icon3_div
{
background-image:url("../image/icon3.png");
}

/*
*
*The stylesheet in about.html
*
*/
.button_bar
{
width:150px;
height:100%;
position:absolute;
}
.back_button
{
display:none;
width:100px;
height:230px;
margin:240px 25px 0 25px;
background-image:url("../image/back_button.png");
opacity:0.15;
}
.back_button:hover
{
opacity:0.4;
cursor:pointer;
}
#about_me_text
{
width:700px;
margin:150px 0 70px 0;
font-family:ShadowsIntoLight;
font-size:3em;
text-indent:1em;
float:left;
}
#about_me_text p
{
margin:0;
}
.link_img
{
width:36px;
height:36px;
transition:0.4s;
}
.link_img:hover
{
opacity:0.6;
}
#about_me_image
{
width:300px;
height:400px;
margin-top:120px;
float:right;
border:none;	
}
.next_icon_div
{
width:200px;
height:200px;
margin:auto;
}
.next_icon
{
width:200px;
height:200px;
background-size:200px 200px;
background-repeat:no-repeat;
}
.pullUp
{
height:70px;
width:100%;
position:absolute;
bottom:0;
cursor:pointer;
transition:0.2s;
}
.pullUp:hover
{
height:150px;
}
.pullUp_tri
{
width:141px;
height:39px;

margin:auto;
}
.bottom_bar
{
width:100%;
height:100%;

}
#about_me
{
width:979.2;
height:489.6px;
background-image:url("../image/about_me2.png");
background-repeat:no-repeat;
margin:0px auto 0 auto;
background-size:979.2px 489.6px;
}

.about_me_title
{
font-family:ShadowsIntoLight;
font-size:3em;
position:absolute;
}
.about_me_words
{
font-family:ShadowsIntoLight;
font-size:1.2em;
color:#3C00BB;
position:absolute;
}
.about_me_words:hover
{
font-size:2em;
color:#FF2900;
cursor:default;
}


/**
*the stylesheet in work
**/
#work_text
{
width:700px;
float:left;
margin-top:100px;
}
#work_text p
{
font-family:ShadowsIntoLight;
font-size:3em;
text-indent:1em;
}
#work_text_focus
{
color:#5C38EB;
cursor:pointer;
}

#work_text_focus:hover
{
color:#DD3EF3;
}
#work1_image
{
background-image:url("../image/work_1.png");
float:right;
width:250px;
height:330px;
background-repeat:no-repeat;
margin-top:130px;
}
#wave_div
{
position:absolute;
bottom:-50px;
height:220px;
width:100%;
transition:0.6s;
cursor:pointer;
}
#wave_div:hover
{
bottom:0;
}
#shark_div
{
height:100px;
width:1200px;
position:absolute;
bottom:70px;
z-index:-10;
transition:10s;
}
#shark
{
width:152px;
height:100px;
background-image:url("../image/shark2.png");
float:right;
}
#wave
{
background-image:url("../image/wave.png");
height:150px;
width:100%;
position:absolute;
bottom:0;
}
#work_2
{
height:100%;
background-color:#c7f0f0;
z-index:0;
}
#work_2_bg
{
width:1300px;
height:100%;
background-repeat:no-repeat;
position:absolute;
left:40;
z-index:-10;
}

#skill_detail_div
{
width:800px;
height:200px;
margin:auto;
}
.skill_detail
{
display:none;
position:absolute;
width:800px;
font-family:ShadowsIntoLight;
font-size:2em;
text-align:center;
}
#skill_bar
{
height:230px;
width:900px;
margin: 50px auto 0 auto;
transition:width 2s;
-moz-transition: width 2s;	/* Firefox 4 */
-webkit-transition: width 2s;	/* Safari 和 Chrome */
}
#skill_bar_border
{
width:920px;
height:60px;
position:absolute;
background-color:#4370A0;
z-index:-1;
margin:85px 0 0 -15px;
border-radius:9px;
}
.skill
{
height:230px;
width:150px;
margin:0 0 0 -7px;
display:inline-block;
}
.skill_blank
{
height:90px;
width:150px;
}
.color_block
{
height:50px;
width:150px;
}
.color_block:before
{
background-color:#FFFFFF;
width:100%;
height:100%;
content:'';
}

.skill_text
{
height:90px;
width:150px;
}

.skill_text p
{
position:absolute;
margin:20px 0 0 40px;
font-family:ShadowsIntoLight;
font-size:2em;
text-align:center;
}

/**break**/

#break_div
{
margin:auto;
padding-top:150px;
width:900px;
}
#break1_image
{
float:right;
width:300px;
height:330px;
background-repeat:no-repeat;
margin-top:115px;
background-image:url("../image/break_1_icon.png");
background-size:250px auto;
}
.break_detail
{
width:446px;
height:250px;
display:inline-block;
}
.break_detail span
{
font-family:ShadowsIntoLight;
font-size:4em;
position:absolute;
margin-top:50px;
}
